<div class="card p-3">
    <div class="d-flex align-items-center">
      <input type="text" class="form-control me-2" placeholder="Search users" [(ngModel)]="searchTerm">
      <button class="btn btn-primary" (click)="searchUsers()">Search</button>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4 mb-3" *ngFor="let user of filteredUsers">
      <div class="card text-center shadow">
        <img [src]="user.image" alt="Photo" class="user-avatar">
        <span class="badge" [ngClass]="getRoleClass(user.role)">{{ user.role }}</span>
        <h6 class="mt-2">{{ user.username }}</h6>
        <p class="text-muted">{{ user.email }}</p>
        <p class="text-muted">{{ user.phone }}</p>
        <p class="text-muted">{{ user.birthdate }}</p>
      </div>
    </div>
  </div>
  
